<div class="container mt-5">
  <h2><i class="fa-solid fa-pencil"></i>新規プラン投稿</h2>

  <%= render 'form', plan: @plan %>

  <%= link_to 'Back', mypage_path, class: 'btn btn-outline-secondary btn-sm' %>
</div>

