<div class="text-end">
<%= form_with model: [plan, comment], local: true do |f| %>
  <%= f.text_area :text, rows: '5', placeholder: "コメントを投稿しよう！", required: true, class: 'form-control mb-2' %>
  <%= f.submit "送信する", class: 'btn btn-outline-secondary btn-sm' %>
<% end %>
</div>