<h1>welcome to 
  <strong>Travelers</strong>!!
</h1>
<h2>Your Trip, Someone's Inspiration!!</h2>
<p>あなたの旅の記録が誰かの旅のきっかけになる！旅の記録を残そう！誰かの旅を覗き見しよう！！</p>

<div>
  <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post %>
</div>
<div>
  <%= link_to "Log in", new_user_session_path %>
</div>
<div>
  <%= link_to "Sign up", new_user_registration_path %>
</div>