<div class="container mt-5">
  <div class="text-center">
    <h1 class="mb-3">Welcome to Travelers!!</h1>
    <h2 class="mb-4">Your Trip, Someone's Inspiration!!</h2>
    <p class="mb-5">
      あなたの旅の記録が誰かの旅のきっかけになる！<br>
      旅の記録を残そう！誰かの旅を覗き見しよう！！
    </p>
    <div class="d-grid gap-3 col-6 mx-auto">

      <%= link_to about_path, class:'btn btn-outline-info mb-3' do %>
        <i class="fa-solid fa-link"></i> About
      <% end %>

      <%= link_to users_guest_sign_in_path, method: :post, class:'btn btn-outline-info mb-3' do %>
        <i class="fa-solid fa-face-grin-squint"></i> Guest Log in（閲覧用）
      <% end %>

      
      <div class="d-grid gap-3 col-6 mx-auto">
        <%= link_to new_user_session_path, class:'btn btn-info mb-3' do %>
           <i class="fa-solid fa-right-to-bracket"></i>  Log in
        <% end %>

        <%= link_to new_user_registration_path, class:'btn btn-info mb-3' do %>
          <i class="fa-solid fa-user-plus"></i> Sign up
        <% end %>

      </div>
    </div>
  </div>
</div>