@use '~bootstrap/scss/bootstrap';

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

.hover-card {
  transition: background-color 0.3s ease;
}

.hover-card:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}