<div class="container mt-5">
  <h2 class="mb-4">
  <i class="fa-solid fa-magnifying-glass"></i> 検索結果
  </h2>

  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <% if @users.present? %>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4 mb-3">
            <div class="text-center p-3 border rounded">
              <%= link_to user.name, user_path(user), class: 'text-dark text-decoration-none' %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>該当するユーザーは見つかりませんでした。</p>
    <% end %>

  <% elsif @range == "Plan" %>
    <% if @plans.present? %>
      <div class="row">
        <% @plans.each do |plan| %>
          <div class="col-md-4 mb-3">
            <div class="text-center p-3 border rounded">
              <%= link_to plan.title, plan_path(plan), class: 'text-dark text-decoration-none' %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>該当する旅行プランは見つかりませんでした。</p>
    <% end %>
  <% end %>

  </div>