<div class="container mt-5">
  <h3><i class="fa-solid fa-face-smile"></i><%= "#{@user.name}さんのページ" %></h3>

  <div>
    <h4><%= @user.name %></h4>
    <%= image_tag @user.get_profile_image(200,200) %>
    <p><%= link_to "退会", admin_user_path(@user), method: :delete, data: { confirm: '本当に退会させますか？' }, class: 'btn btn-outline-danger my-3' %></p>
  </div>
</div>
 
