<%= render 'searches/search' %>

<div class="container mt-5">
  <h2 class="mb-4">
    <i class="fa-solid fa-person-walking-luggage"></i> プラン一覧
  </h2>

  <div class="row">
    <% @plans.each do |plan| %>
      <div class="col-md-4 mb-3">
        <div class="text-center p-3 border rounded">
          <%= link_to plan.title, plan_path(plan), class: 'text-dark text-decoration-none' %>
            <div class="text-muted small">コメント数: <%= plan.comments.count %></div>
        </div>
      </div>
    <% end %>
  </div>

  
</div>